<div class="row">

  <label>BackUp Tools</label> <br>
  <a href="/api/adminTool/backup.tar.gz" target="_blank">backup.tar.gz</a>  <br>
  <button type="submit" class="btn btn-default" ng-click="$ctrl.clickCreateBackup()">Create BackUp</button>

  <input type="file" id="file" name="file"/>
  <!--<button ng-click="$ctrl.clickUpload()">clickUpload</button>-->
  <br>
  <div id="log">Прогресс загрузки</div>
  <button ng-click="$ctrl.clickUpload0()">clickUpload0</button>
  <br>
  <button type="submit" class="btn btn-default" ng-click="$ctrl.clickRestore()">Create Restore</button>

</div>
